* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: @theme_base_color;
    color: @theme_text_color;
}

window#waybar.hidden {
    opacity: 0.0;
}


button {
    all: initial;
}
#tags button {
    padding: 0 8px;
    background-color: transparent;
    color: #ebdbb2;
}

#tags button.focused {
    padding: 0 12px;
    background-color: #bdae93;
    color: #282828;
}

#tags button.urgent {
    background-color: #fb4934;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mpd {
    padding: 0 8px;
    margin: 0 2px;
    color: #ebdbb2;
}
#layout {
    background-color: #bdae93;
    color: #282828;
    padding: 0 0px;
}
#layout.focused {
    background-color: #fabd2f;
    color: #282828;
    padding: 0 3px;
}
#window {
    background-color: #bdae93;
    color: #282828;
    padding: 0 0px;
}
#window.focused {
    background-color: #fabd2f;
    color: #282828;
    padding: 0 0px;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#clock {
    background-color: #665c54;
    color: #ebdbb2;
    margin-right:0;
}

label:focus {
    background-color: #1d2021;
}

#cpu {
    background-color: #2ecc71;
    color: #1d2021;
}

#memory {
    background-color: #9b59b6;
}

#network {
    background-color: #665c54;
    color: #ebdbb2;
}

#network.disconnected {
    background-color: #fb4934;
}

#pulseaudio {
    background-color: #665c54;
    color: #ebdbb2;
}

#pulseaudio.muted {
    background-color: #665c54;
    color: #ebdbb2;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #fb4934;
}

#mpd {
    background-color: #665c54;
    color: #ebdbb2;
}

#mpd.disconnected {
    padding: 0 0px;
}

#mpd.stopped {
    padding: 0 0px;
}

#mpd.paused {
    padding: 0 0px;
}
